<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Pages" />
	

    <title>EskhataFarm | Market for ESG</title>
	
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
    <!-- icons -->
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/fonts/simple-line-icons/simple-line-icons.min.css")" />
    <link href="@Url.Content("~/fonts/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/fonts/material-design-icons/material-icon.css")" rel="stylesheet" type="text/css" />
    <!--bootstrap -->
	<link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css")" />
    <link href="@Url.Content("~/assets/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/plugins/summernote/summernote.css")" rel="stylesheet">
	<link href="@Url.Content("~/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    
    <link href="@Url.Content("~/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css")" rel="stylesheet" type="text/css">
    <!-- Material Design Lite CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/material/material.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/material_style.css")">
    <!-- inbox style -->
    <link href="@Url.Content("~/assets/css/pages/inbox.min.css")" rel="stylesheet" type="text/css" />
    <!-- Theme S-->
    <link href="@Url.Content("~/assets/css/theme/light/theme_style.css")" rel="stylesheet" id="rt_style_components" type="text/css" />
    <link href="@Url.Content("~/assets/css/plugins.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/css/theme/light/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/css/responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/css/theme/light/theme-color.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/assets/css/pages/formlayout.css")" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	
	<link href="@Url.Content("~/lib/sweetalert2/dist/sweetalert2.css")" rel="stylesheet" type="text/css">

	<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <!-- Date Time item CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/material-datetimepicker/bootstrap-material-datetimepicker.css")"/>
    <link href="@Url.Content("~/assets/plugins/material-datetimepicker/bootstrap-material-datetimepicker.css")" rel="stylesheet" />
</head>
<br />
<br />
<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-indigo" style="overflow-y: hidden;">
    <header>   
		<div class="page-wrapper">
			<!-- start header -->
			<div class="page-header navbar navbar-fixed-top">
				<div class="page-header-inner ">
					<!-- logo start -->
					<div class="page-logo">
                        <a asp-controller="Home" asp-action="Index">
                            <span class="logo-icon fa fa-tree"></span>
							<span class="logo-default">AgroPharm</span>
						</a>
					</div>
					<!-- logo end -->
					<ul class="nav navbar-nav navbar-left in">
						<li><a href="#" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
					</ul>
                    <form class="search-form-opened" asp-controller="Currency" asp-action="GetCurrensy" method="GET">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search..." name="query">
							<span class="input-group-btn">
								<a href="javascript:;" class="btn submit">
									<i class="icon-magnifier"></i>
								</a>
							</span>
						</div>
					</form>
					<!-- start mobile menu -->
					<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
						<span></span>
					</a>
					<!-- end mobile menu -->
					<!-- start header menu -->
					<div class="top-menu">
						<ul class="nav navbar-nav pull-right">
							<li><a><i class="fa fa-clock-o"></i><span id="DateLabel"></span>    <span id="TimeLabel" class="main-lbl"></span></a></li>
							<li><a href="javascript:;" class="fullscreen-btn"><i class="fa fa-arrows-alt"></i></a></li>	
						</ul>
					</div>
				</div>
			</div>
			
			<!-- end header -->
            <div class="sidebar-container">
                <div class="sidemenu-container navbar-collapse collapse fixed-menu" style="height: 100vh;">
                    <div id="remove-scroll">
                        <ul class="sidemenu page-header-fixed"
                            data-keep-expanded="false"
                            data-auto-scroll="false"
                            data-slide-speed="200"
                            style="padding-top: 20px;">
                            <li class="sidebar-toggler-wrapper hide">
                                <div class="sidebar-toggler">
                                    <span></span>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Home" asp-action="Dashboard" class="nav-link nav-toggle">
                                    <i class="material-icons">dashboard</i>
                                    <span class="title">Dashboard</span>
                                    <span class="selected"></span>
                                    <span class="arrow"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="fa fa-plus"></i>
                                    <span class="title">Добавить</span><span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        <a asp-controller="Product" asp-action="Index" class="nav-link">
                                            <i class="material-icons">library_add</i>
                                            <span class="title">Наименование товара</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Organization" asp-action="Index" class="nav-link">
                                            <i class="material-icons">location_city</i>
                                            <span class="title">Наименование организации</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Customer" asp-action="Index" class="nav-link">
                                            <i class="material-icons">person_add</i>
                                            <span class="title">Наименование покупателя</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-toggle" asp-controller="Buy" asp-action="Index">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="title">Закупка</span><span class="arrow"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Sell" asp-action="Index" class="nav-link nav-toggle">
                                    <i class="material-icons">shopping_cart</i>
                                    <span class="title">Продажа</span><span class="arrow"></span>
                                </a>
                            </li>
                            <li class="nav-item" >
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="fa fa-reply"></i>
                                    <span class="title">Возврат</span><span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        <a asp-controller="ReturnIn" asp-action="Index" class="nav-link">
                                            <i class="icon-user"></i>
                                            <span class="title">От пакупателя</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="ReturnOut" asp-action="Index" class="nav-link">
                                            <i class="material-icons">location_city</i>
                                            <span class="title">Организацию</span>
                                        </a>
                                    </li>                                    
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Currency" asp-action="Index" class="nav-link nav-toggle">
                                    <i class="fa fa-dollar"></i>
                                    <span class="title">Курс валют</span><span class="arrow"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid" style="margin-top: 20px;">
            @RenderBody()

    </div>
	

    @await RenderSectionAsync("Scripts", required: false)


	<script src="@Url.Content("~/assets/plugins/jquery/jquery.min.js")"></script>
	<script src="@Url.Content("~/assets/plugins/popper/popper.js")"></script>
	<script src="@Url.Content("~/assets/plugins/jquery-blockui/jquery.blockui.min.js")"></script>
	<script src="@Url.Content("~/assets/plugins/jquery-slimscroll/jquery.slimscroll.js")"></script>
    <!-- bootstra-->
	<script src="@Url.Content("~/assets/plugins/bootstrap/js/bootstrap.min.js")"></script>
	<script src="@Url.Content("~/assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js")"></script>
	<script src="@Url.Content("~/assets/plugins/sparkline/jquery.sparkline.js")"></script>
	<script src="@Url.Content("~/assets/js/pages/sparkline/sparkline-data.js")"></script>
    <script src="@Url.Content("~/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js")"></script>
    <script src="@Url.Content("~/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker-init.js")"></script>
    <!-- Common j-->
	<script src="@Url.Content("~/assets/js/app.js")"></script>
	<script src="@Url.Content("~/assets/js/layout.js")"></script>
	<script src="@Url.Content("~/assets/js/theme-color.js")"></script>
    <!-- material-->
	<script src="@Url.Content("~/assets/plugins/material/material.min.js")"></script>
    <script src="@Url.Content("~/assets/js/pages/material-select/getmdl-select.js")"></script>
    <script src="@Url.Content("~/assets/plugins/material-datetimepicker/moment-with-locales.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/material-datetimepicker/bootstrap-material-datetimepicker.js")"></script>
    <script src="@Url.Content("~/assets/plugins/material-datetimepicker/datetimepicker.js")"></script>

    <!-- summerno-->
    <script src="@Url.Content("~/assets/plugins/summernote/summernote.js")"></script>
    <script src="@Url.Content("~/assets/js/pages/summernote/summernote-data.js")"></script>

	<script src="@Url.Content("~/assets/plugins/datatables/jquery.dataTables.min.js")"></script>
	<script src="@Url.Content("~/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js")"></script>
	<script src="@Url.Content("~/assets/js/pages/table/table_data.js")"></script>

	<script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.bundle.min.js")"></script>
	<script src="@Url.Content("~/lib/sweetalert2/dist/sweetalert2.js")"></script>

    <script src="@Url.Content("~/assets/js/pages/extra-pages/pages.js")"></script>   
	
	<script>
			if (document.getElementById) onload = function () {
			setInterval(function() {
				var dt = new Date();
				document.getElementById('DateLabel').innerText = +("0" + dt.getDate()).slice(-2) + "/" + ("0" + (dt.getMonth() + 1)).slice(-2) + "/" + dt.getFullYear();
				document.getElementById('TimeLabel').innerText = +("0" + dt.getHours()).slice(-2) + ":" + ("0" + dt.getMinutes()).slice(-2) + ":" + ("0" + dt.getSeconds()).slice(-2);
			}, 50);
		}
	</script>   

</body>
</html>


