@model AgroPharm.Models.ViewModel

<div class="page-content-wrapper">
	<div class="page-content">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="card">
					<div class="card-head">
						<header>Отчёт по возвратам от покупателя</header>
					</div>
					<div class="card-body" id="bar-parent">
						<form id="getReport" asp-controller="ReturnIn" asp-action="GenerateProductPdf" class="form-horizontal" method="post">
							<div class="form-body">
								<div class="form-group row">
									<label class="control-label col-md-3">
										Наименование товара
									</label>
									<div class="col-md-5">
										<select class="form-control input-height" asp-for="@Model.ProductNameID" asp-items="Model.Products">
											<option value="">Выберите...</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-3">
										Наименовании покупателя
									</label>
									<div class="col-md-5">
										<select class="form-control input-height" asp-for="@Model.OrganizationNameID" asp-items="Model.Customers">
											<option value="">Выберите...</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-3">
										От
									</label>
									<div class="col-md-5">
										<input class="form-control input-height" size="16" placeholder="От" type="date" asp-for="@Model.StartDate">
									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-3">
										До
									</label>
									<div class="col-md-5">
										<input class="form-control input-height" size="16" placeholder="До" type="date" asp-for="@Model.EndDate">
									</div>
								</div>
								<input type="hidden" name="__RequestVerificationToken" value="@Html.AntiForgeryToken()" />
								<div class="form-actions">
									<div class="row">
										<div class="offset-md-3 col-md-9">
											<button asp-controller="ReturnIn" asp-action="GenerateProductPdf" class="btn btn-primary">Получить</button>
											<button type="button" class="btn btn-default" onclick="window.history.back();">Отмена</button>
										</div>
									</div>
								</div>

							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="@Url.Content("~/js/getreport.js")"></script>